a {
  text-decoration: none;
}

a:link, a:visited, a:focus, a:hover, a:active {
  color: white;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bookStore {
  display: flex;
  position: relative;
  width: 80vw;
}

.addBtn {
  position: absolute;
}

.bookList {
  width: 50%;
  list-style-type: none;
  padding: 0;
}

.bookList__item {
  margin: 0.2rem 0;
}

.bookList__remove-item {
  margin-right: 1rem;
}

.bookList__remove-item:link, .bookList__remove-item:visited, .bookList__remove-item:focus {
  color: white;
}

.bookList__remove-item:hover, .bookList__remove-item:active {
  color:orange;
}

.book {
  width: 50%;
}

.bookForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bookForm__input {
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}