a {
  text-decoration: none;
}

a:link, a:visited, a:focus, a:hover, a:active {
  color: white;
}

*:focus {
  outline: none;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bookStore {
  display: flex;
  width: 80vw;
}

.bookList {
  width: 50%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bookList__item {
  margin: 0.2rem 0;
}

.bookList__item:active {
  filter: saturate(150%);
}

.bookList__add-item {
  background-color: blue;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.bookList__add-item:active {
  filter: saturate(150%);
}

.bookList__remove-item {
  margin-right: 1rem;
}

.bookList__remove-item:link, .bookList__remove-item:visited, .bookList__remove-item:focus {
  color: white;
}

.bookList__remove-item:hover, .bookList__remove-item:active {
  color:orange;
}

.book {
  width: 50%;
}

.bookForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bookForm__label {
  font-size: 1rem;
}

.bookForm__input {
  width: 100%;
  border: 0;
  border-radius: 1px; 
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.bookForm__submit {
  background-color: blue;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  font-family: inherit;
  border: 0;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.bookForm__submit:active {
  filter: saturate(150%);
}

.show {
  display: block;
}

.hide {
  display: none;
}